Source: gdbm
Section: libs
Priority: important
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: texinfo, libtool, automake, autoconf, autotools-dev,
 dpkg-dev (>= 1.16.1~), debhelper (>= 9), strip-nondeterminism
Standards-Version: 3.9.8
Homepage: http://directory.fsf.org/project/gdbm/

Package: libgdbm3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg (>= 1.15.4) | install-info
Description: GNU dbm database routines (runtime version)
 GNU dbm ('gdbm') is a library of database functions that use extendible
 hashing and works similarly to the standard UNIX 'dbm' functions.
 .
 The basic use of 'gdbm' is to store key/data pairs in a data file, thus
 providing a persistent version of the 'dictionary' Abstract Data Type
 ('hash' to perl programmers).

Package: libgdbm-dev
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libc6-dev | libc-dev, libgdbm3 (= ${binary:Version})
Conflicts: libgdbm1-dev, libgdbmg1-dev
Breaks: libgdbm3 (<< 1.8.3-12.1)
Replaces: libgdbmg1-dev, libgdbm3 (<< 1.8.3-12.1)
Section: libdevel
Priority: optional
Description: GNU dbm database routines (development files)
 GNU dbm ('gdbm') is a library of database functions that use extendible 
 hashing and works similarly to the standard UNIX 'dbm' functions.  This 
 package includes development support files.
